*,*::before,*::after
{
    box-sizing: border-box;
    font-family:"Courier New",monospace;
    font-weight: 550;
}
body
{
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom right,cyan,magenta,yellow)
    no-repeat;
    /* background: linear-gradient(to right, #FAD0C4, #FFD1FF, #A7DBD8, #FFC400); */
}
.calc-grid
{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:minmax(100px,auto) repeat(6,70px);
}
.calc-grid>button
{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline:none;
    background-color: rgba(255, 255, 255, .75);
}
.calc-grid>button:hover
{
    background-color: rgba(255, 255, 255, .9);
}
.output
{
     grid-column: 1/-1;
     background-color: rgba(0, 0, 0, .75);
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     justify-content: space-around;
     word-wrap:break-word;
     word-break:break-all;
     padding: 10px;
}
.output>.op1
{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
.output>.op2
{
    color: rgba(255, 255, 255);
    font-size: 2.5rem;
}
/* .memory
{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.memory>button
{
    
     cursor: pointer;
    font-size: 2em;
    border: 1px solid white;
    outline:none;
    background-color: rgba(255, 255, 255, .75);
} 
*/