*
{
    box-sizing: border-box;
    font-family:"Courier New",monospace;
    font-weight: 550;
}
body
{
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom right,cyan,magenta,yellow)
    no-repeat;
    /* background: linear-gradient(to right, #FAD0C4, #FFD1FF, #A7DBD8, #FFC400); */
}
.calc-grid
{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,24vw);
    grid-template-rows:minmax(25vh,auto) repeat(6,12vh);
}
.calc-grid>button
{
    cursor: pointer;
    font-size: 5vh;
    border: 1px solid white;
    outline:none;
    background-color: rgba(255, 255, 255, .75);
}
.calc-grid>button:hover
{
    background-color: rgba(255, 255, 255, .9);
}
.output
{
     grid-column: 1/-1;
     background-color: rgba(0, 0, 0, .75);
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     justify-content: space-around;
     word-wrap:break-word;
     word-break:break-all;
     padding: 1vh;
}
.output>.op1
{
    color: rgba(255, 255, 255, .75);
    font-size: 7vh;
}
.output>.op2
{
    color: rgba(255, 255, 255);
    font-size: 10vh;
}
